@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
  /* Safari, Android, iOS */
}

body {
  font-family: "Vazir" !important;
}

a {
  text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.8 !important;
}

/* Utilities */
.hover-grow {
  transition: all 0.5s;
}

.hover-grow:hover {
  transform: scale(1.1);
}
/* Header */
.header {
  transition: all 0.5s;
  padding: 20px 0;
}
.header-scrolled {
  background-color: #fff;
  box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
}

@media (max-width: 992px) {
  .header {
    background-color: #fff;
  }
}

/* Intro */
.intro {
  height: 100vh;
  width: 100%;
  background: url("../images/intro/intro-bg.png") top center no-repeat;
  background-size: cover;
}

/* About */
.content {
  background-color: #f6f9ff;
  padding: 40px;
}

/* Counts */
.counts i {
  font-size: 42px;
}

.counts i.blue {
  color: #4154f1;
}

.counts i.orange {
  color: #ee6c20;
}

.counts i.green {
  color: #15be56;
}

.counts i.red {
  color: #bb0852;
}

/* Features */
.features i {
  font-size: 44px;
  color: #4154f1;
}

/* Services */
.services .service-box {
  box-shadow: 0px 0 30px rgb(1, 41, 112, 0.08);
  padding: 60px 30px;
  text-align: center;
  border-radius: 5px;
  transition: all 0.5s;
}

.services .service-box .icon {
  font-size: 36px;
  padding: 20px;
  line-height: 0;
  display: inline-block;
  border-radius: 4px;
}

.services .service-box .read-more {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.services .service-box .read-more i {
  font-size: 18px;
  line-height: 0;
  margin-right: 0.4rem;
  padding: 0;
}

/* service-box blue */
.services .service-box.blue {
  border-bottom: 3px solid #2db6fa;
}

.services .service-box.blue .icon {
  color: #2db6fa;
  background: #dbf3fe;
}

.services .service-box.blue .read-more {
  color: #2db6fa;
}

.services .service-box.blue:hover {
  background: #2db6fa;
  color: #fff;
}

/* service-box orange */
.services .service-box.orange {
    border-bottom: 3px solid #f68c09;
  }
  
  .services .service-box.orange .icon {
    color: #f68c09;
    background: #fde3c4;
  }
  
  .services .service-box.orange .read-more {
    color: #f68c09;
  }
  
  .services .service-box.orange:hover {
    background: #f68c09;
    color: #fff;
  }

  /* service-box green */
.services .service-box.green {
    border-bottom: 3px solid #80da4e;
  }
  
  .services .service-box.green .icon {
    color: #80da4e;
    background: #cffddf;
  }
  
  .services .service-box.green .read-more {
    color: #80da4e;
  }
  
  .services .service-box.green:hover {
    background: #80da4e;
    color: #fff;
  }

.services .service-box:hover .read-more {
  color: #fff;
}

.services .service-box:hover .icon {
    background-color: #fff;
}

/* Pricing */
.pricing .card {
    transition: all 0.3s;
}

.pricing .card:hover {
    transform: scale(1.1);
}

  