@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
  /* Safari, Android, iOS */
}

body {
  font-family: "Vazir" !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.8 !important;
}

/* Utilities */
.hover-grow {
  transition: all 0.5s;
}

.hover-grow:hover {
  transform: scale(1.1);
}
/* Header */
.header {
  transition: all 0.5s;
  padding: 20px 0;
}
.header-scrolled {
  background-color: #fff;
  box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
}

@media (max-width: 992px) {
  .header {
    background-color: #fff;
  }
}

/* Intro */
.intro {
  height: 100vh;
  width: 100%;
  background: url("../images/intro/intro-bg.png") top center no-repeat;
  background-size: cover;
}

/* About */
.content {
    background-color: #f6f9ff;
    padding: 40px;
}

/* Counts */
.counts i{
    font-size: 42px;
}

.counts i.blue{
    color: #4154f1;
}

.counts i.orange{
    color: #ee6c20;
}

.counts i.green{
    color: #15be56;
}

.counts i.red{
    color: #bb0852;
}
